* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sintony', 'sans-serif';    

}

a{
    text-decoration: none;

}

nav {
    height: 5rem;
    background: rgba(217, 217, 217, 0.31);
    padding: 0 50px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 200;
    gap: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


nav .buscador {
    width: 200px;
    height: 30px;
    border-radius: 2rem;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.navLogin {
    display: flex;
    align-items: center;
    gap: 10px;
}

#ModalLogIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


.logo {
    width: 150px;
    padding-left: 30px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu img {
    width: 40px;
}

.menu .idioma {
    border: 0;
}

.menu .boton {
    border-radius: 5px;
    width: 120px;
    height: 35px;
    background-color: gray;
    padding: 0 10px;
    transition: 0.4s;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu .unete {
    background-color: #d9d9d9;
    color: black;
}

.menu .inscribete {
    background-color: #294D76;
    color: white;
}

.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu {
    order: 1;
}

.menu button:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: rgb(0, 0, 0);
}

#check {
    display: none;
}

/* Responsive */
/* Para Tablet */
@media(max-width:768px) {

    .mostrar-menu,
    .esconder-menu {
        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(86, 87, 87);
        /*left: 0;*/
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    .menu button {
        display: block;
        padding: 20px;
    }

    .esconder-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked~.menu {
        right: 0;
    }
}

.button {
    padding-top: 20px;
}

.button button {
    border-radius: 5px;
    width: 120px;
    height: 30px;
    background-color: gray;
}

.button .log {
    background-color: rgba(41, 77, 118);
    color: white;
}

.icon img {
    width: 50px;
    padding-top: 10px;
    position: relative;
    right: 30px;
}

#ModalLogIn h1{
    color: black;
    text-align: center;
}

#ModalLogIn a{
    color: black;

}

#ModalLogIn p{
    color: black;
    text-align: center;
}

.formLogIn{
    padding: none;
    bottom: auto;
    gap: 0;
}

.formLogIn p{
    
    color: black;
}

.formLogIn input{
    border-radius: 10px;
}

.iniciar-sesion{
    width: 180px;
    height: 40px;
    background-color: rgba(255, 57, 57, 0.882);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.facebook{
    padding: 8px;
    background-color: rgba(28, 108, 200, 0.882);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.google{
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.882);
    color: black;
    border: solid black;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.register{
    width: 180px;
    height: 40px;
    background-color: rgba(217, 217, 217, 0.31);
    color: black;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.galeria {
    display: grid;
    padding-top: 80px;
    margin: auto;
    width: 80%;
    grid-template-columns: 30% 20% 20% 10% 20%;
    grid-template-rows: 250px 250px;
    justify-content: center;
    gap: 15px;
}

.im1 {
    grid-row: 1/3;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.im2 {
    grid-column: 2/4;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.im3 {
    grid-column: 4/6;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.im4 {
    grid-column: 2/5;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.im5 {
    grid-column: 5/6;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.title {
    width: 100%;
    border-radius: 20px;
    text-align: center;
    font-size: 40px;
    padding-top: 5rem;
}

.subtitle {
    text-align: center;
    padding-bottom: 80px;
}

.containerr {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.calendario {
    background-color: #294d7675;
    height: 100%;
    border-radius: 20px;
    display: block;
    justify-content: space-between;
    align-items: center;

}

.selectB {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 20%;
    text-align: center;
    gap: 9px;
}

.selectB select {
    border-radius: 5px;
    width: 120px;
    height: 30px;
    background-color: #294D76;
    color: white;
    padding: 0 10px;
    transition: 0.4s;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.fecha {
    display: flex;
    justify-content: center;
}

#calendar {
    width: fit-content;
    background-color: #efefef;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.week_day_names th {
    padding: 3px;
}

.week_day_numbers td {
    text-align: center;
    margin: 3px;
}

.week_day_numbers td {
    text-align: center;
    margin: 3px;
}

.week_day_numbers td:hover {
    background-color: #d6d6d6;
    cursor: pointer;
}

.week_day_numbers td.active {
    background-color: #cacaca;
}

.calendar_header {
    display: flex;
    justify-content: space-between;
}

.calendar_header span {
    align-self: center;
}


.precio {
    display: block;
    text-align: center;
    padding: 10px;
    height: 20%;
}

.reservar {
    display: flex;
    justify-content: center;
}

.reservar button {
    border-radius: 5px;
    width: 150px;
    height: 40px;
    background-color: #cdc52fda;
    border: none;
    font-size: 20px;
    font-style: italic;
    color: rgb(0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.right {
    width: 60%;
    padding-left: 100px;
}

.descripcion {
    display: block;
    padding-bottom: 20px;
}

.descripcion p {
    font-size: 16px;
}


.incSub {
    padding-top: 30px;
}

.incluye {
    padding-top: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: 50px 200px 50px auto;
    grid-template-rows: 50px 50px 50px;
}

.in1 img {
    max-width: 100%;
}

.in2 p {
    font-size: 16px;
}

.in3 img {
    max-width: 100%;
}

.in4 p {
    font-size: 16px;
}

.in5 img {
    max-width: 100%;
}

.in6 p {
    font-size: 16px;
}

.in7 img {
    max-width: 100%;
}

.in8 p {
    font-size: 16px;
    
}

.in9 img {
    max-width: 100%;
}

.in10 p {
    font-size: 16px;

}


.texto {
    padding-top: 30px;
}

.info-guia{
    width: 80%;
    margin: auto;
}

.titleGuia {
    margin: auto;
}

.guia-container{
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.guia {
    display: flex;
    padding-right: 2rem;

}

.imagenGuia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}

.guia-imagen{
    width: 12rem;
    height: 12rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.imagenGuia h4 {
    font-size: 15px;
}

.descripcionGuia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    font-size: 17px;
}

.botonesContact {
    display: flex;
    height: 30px;
    width: 80%;
    justify-content: end;
}

.botonnes a{
    border-radius: 5px;
    width: 150px;
    height: 35px;
    color: black;
    background-color: #d9d9d9;
    padding: 8px 10px;
    transition: 0.4s;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btnMore {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#reseñas{
    display: flex;
    flex-direction: column;
    padding: 0 0 100px 0;
    padding-top: 50px;
    width: 100%;
    justify-content: center;
    
}
#reseñas button{
    display: flex;
    justify-content: center;
}

#reseñas h2{
    text-align: center;
}


#contenedorRev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;

}
#review{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 14px;
    justify-content: center;
    padding: 14px;
}

#cadaCardReview{
    background-color: #ECE6E6;
    width: 450px;
    height: 100%;
    justify-content: center;
}


.imgClienteRev{
    width: 100px;
    height:100px;
    background-color: rgb(46, 222, 148);
    background-image: url('/IMAGENES/PERSONAS/mujer.jpg');
    background-size: cover;
    background-position: cover;
    border-radius: 50%;
}

#detalleReview{
    display: flex;
    justify-content: space-between;
}

/*modal Review*/
.contImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

#cadaCardModalRev{
    border: none;
    width: 100%;
}

.showmore{
    display: flex;
    justify-content: center;
}


/*---Footer---*/
footer{
    background-color: #294D76;
}

.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards h2{
    padding-bottom: none;
    text-align: start;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 6rem;
    gap: 2rem;
    width: 80;
    justify-content: center;
}

.cards button:hover{
    transform: scale(1.5);
}


.card{
    position: relative;
    width: 20rem;
    height: 28rem;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    justify-content: center;
    
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.degraded{
    position: absolute;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(180, 180, 180) 100%);
    width: 100%;
    height: 50%;
    border-radius: 1rem;
    top: 0;
}

.degraded p{
    color: white;
    font-size: 2rem;
    position: relative;
    z-index: 1;
    padding: 1rem;
}

.boton-atras-carrusel{
    position: absolute;
    left: 3rem;
    bottom: 12rem;
    background: none;
    border: none;
}

.boton-atras-carrusel img{
    width: 130px;
}
.boton-adelante-arrusel img{
    width: 130px;
}


.boton-adelante-arrusel{
    position: absolute;
    right: 3rem;
    bottom: 12rem;
    background: none;
    border: none;
}


@media screen and (max-width: 745px) {
  .im1{
    display: none;
    
  }
}

.observaciones{
    padding-top: 2rem;
}

/*---Footer---*/

footer{
    background-color: rgba(41, 77, 118,0.5) ;
    padding: 50px;
    max-width: 100%;
}
.contenedorFooter{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}
.leftFooter{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.rightFooter{
   width: 70%;
   display: flex;
}
.contenidoFooter{
    display: flex;
    gap:20%;
    width: 70%;
   align-items: center;
   justify-content: space-between;
}
.contenFoot{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
   
}
.contenFoot a{
text-decoration: none;
color: #000;
}
.redesFooter{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}



